.wrapper
 
  = render 'shared/side_bar'
     
  -# .chat-main
  -#   .header
  -#     .header-left
  -#       %h2.header-left__title
  -#         test-group
  -#       %ul.header-left__member-list
  -#         Member:
  -#         %li.header-left__member-list__member
  -#           user name
  -#     .header-right
  -#       .header-right__button
  -#         Edit